@import '../../styles/variables';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: $spacing-md;
}

.headerImageWrapper {
    width: 100%;
    max-width: 900px;
    margin-bottom: $spacing-xl;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $box-shadow;

    .headerImage {
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;

        @media (max-width: 768px) {
            height: 150px;
        }
    }
}

.header {
    text-align: center;
    margin-bottom: $spacing-xl * 2;

    h2 {
        font-size: 3rem;
        font-weight: 800;
        color: $text-color;
        margin-bottom: $spacing-sm;

        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }

    p {
        font-size: 1.5rem;
        color: #4a5568;

        @media (max-width: 768px) {
            font-size: 1.1rem;
        }
    }

    @media (max-width: 768px) {
        margin-bottom: $spacing-xl;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-xl;
    width: 100%;
    max-width: 900px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        /* Stack no mobile */
        gap: $spacing-md;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px $spacing-lg;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    transition: transform 0.2s ease;

    @media (max-width: 768px) {
        padding: 30px $spacing-lg;
    }

    &:active {
        transform: scale(0.97);
    }

    .title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: $spacing-sm;

        @media (max-width: 768px) {
            font-size: 1.5rem;
        }
    }

    .desc {
        font-size: 1.2rem;
        opacity: 0.9;
        font-weight: normal;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }

    &.primary {
        background-color: $primary-color;
        color: white;
    }

    &.secondary {
        background-color: $secondary-color;
        color: white;
    }
}