@import '../../styles/variables';

.header {
    display: flex;
    align-items: center;
    padding: $spacing-md $spacing-lg;
    background-color: $card-bg;
    box-shadow: $box-shadow;
    height: 80px;

    .backButton {
        background: transparent;
        color: $primary-color;
        font-size: 1.2rem;
        font-weight: bold;
        padding: $spacing-sm;
        margin-right: auto;
    }

    .logo {
        flex-grow: 1;
        text-align: center;
        color: $text-color;

        h1 {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}